.my-wrapper {
	height: 100%;
}

.full-height {
	height: 100vh;
	position: relative;
}
.page-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	
	background-color: #303f9f;
}
